






:root {
    --max-margin: 96px;
    --main-max-width: 1024px;
    --main-margin: min(7.8947368421vw, var(--max-margin)); /* Correct */
    --main-width: min(calc(100vw - 2 * var(--main-margin)), var(--main-max-width));
    --u: calc(1/64 * var(--main-width));
    --f: calc(10/7 * var(--u));
    --f-neg-margin: calc(-0.047 * var(--f));

    --bg-grid:  repeating-linear-gradient(
                    #fab4   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(3.95*var(--u)),
                    #fab4   calc(3.95*var(--u)) calc(4*var(--u))
                ),
                repeating-linear-gradient(
                    to right,
                    #fab4   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(3.95*var(--u)),
                    #fab4   calc(3.95*var(--u)) calc(4*var(--u))
                ),
                repeating-linear-gradient(
                    #fab2   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(0.95*var(--u)),
                    #fab2   calc(0.95*var(--u)) calc(1*var(--u))
                ),
                repeating-linear-gradient(
                    to right,
                    #fab2   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(0.95*var(--u)),
                    #fab2   calc(0.95*var(--u)) calc(1*var(--u))
                )
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

html {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #ffffff;
    font-family: "Host Grotesk", sans-serif;
    padding: 0;
    /* overflow-x: hidden; */ /* mutes ScrollEvents for some reason */
    overflow-y: visible;
}

svg {
    isolation: isolate;
}

h1, h2, h3 {
    margin: 0;
}

p {
    text-align: left;
    margin: 0;
}

.mask {
    margin: 0 auto 0 auto;
    padding: var(--main-margin) 0;
    width: var(--main-width);
    mask: linear-gradient(
            to right,
            #000 0%,
            #000 100%
    );
    overflow-y: visible;

    /*border: mediumspringgreen 1px solid;*/
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.main {
    max-width: var(--main-max-width);

    margin: 0 var(--main-margin);

    overflow: visible;

    display: flex;
    flex-direction: column;

    /*border: mediumspringgreen 1px solid;*/
}

.main-element {
    /*border: mediumspringgreen 1px solid;*/
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 63%;
    overflow: visible;


}

.h1 {
    font-size: calc(8 * var(--f));
    font-weight: 800;

    margin: 0 calc(8 * var(--f-neg-margin));

    text-align: left;
    line-height: 0.7;

    color: #000000;
    overflow: visible;
    white-space: nowrap;
    user-select: none;
    /*transition: color 1500ms cubic-bezier(.4, 0, .1, 1);*/

}

h3 {
    font-size: calc(2 * var(--f));

    margin: 0 calc(2 * var(--f-neg-margin));

    text-align: left;
    line-height: 0.7;

    overflow: visible;
    white-space: nowrap;
    user-select: none;
}

.paragraph {
    text-align: justify;
    margin-left: calc(-0.023 * var(--u));
    font-size: calc(1 * var(--f));
    user-select: none;
}

.slide-in {
    transition: transform 4000ms cubic-bezier(.2,.55,0,1);
}

#title-1-1-1 {
    transform: translateX(150vw);
}

#title-1-1-2 {
    transform: translateX(180vw);
}

#title-1-2-1 {
    transform: translateX(160vw);
}

#title-1-2-2 {
    transform: translateX(170vw);
}

.image-container {
    flex-shrink: 0;

    width: calc(14 * var(--u));
    height: calc(14 * var(--u));
    background-color: #2a3731;

    transition: opacity 2000ms cubic-bezier(.45,.46,.37,1);
}

img {
    width: 100%;
    height: 100%;
}

#first {
    justify-content: flex-start;
    gap: calc(6 * var(--u));

}

#second {
    gap: calc(6 * var(--u));
    transform: translateX(calc(-42.46*var(--u)));

}

.special {
    display: inline-block;
    /*text-align: center;*/
    /*width: calc(5 * var(--font-unit));*/
}

#third {
}

#fourth {
    width: 100%;
    justify-content: center;
    background-color: #000;
    color: #000;
    margin: var(--main-margin) 0;
    padding-top: calc(2 * var(--u));
    padding-bottom: calc(2 * var(--u));
    gap: calc(3 * var(--u));
}

#fifth {
    width: 100%;
}

#image {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.dynamic-char-row {
    font-size: calc(4 * var(--f));
    width: border-box;

}

.dynamic-char {

}

.footer {
    margin-top: calc(8 * var(--u));
    background-color: #000000;
    /*background: var(--bg-grid);*/
    height: calc(12 * var(--u));
    box-sizing: border-box;
    padding: calc(2 * var(--u));
    justify-content: space-around;
    gap: calc(2 * var(--u));
}

.footer-info {
    flex: 1 1 0;
    color: #fff;
    gap: calc(1 * var(--u));
    margin: 0;
}

.footer-text {
    font-size: calc(sqrt(0.5) * var(--f));
    user-select: none;
    text-align: justify;
}

div.subtractive {
    position: relative;
    width: 100%;
    height: calc(12 * var(--u));
    filter: invert(100%) hue-rotate(-24deg);
}

h2.subtractive {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(12 * var(--f));
    mix-blend-mode: multiply;
    filter: url(#directional-blur);
}

h2.subtractive.r {
    color: #ffff00;
    transform: translate(-48.5%, -50%);
}
h2.subtractive.g {
    color: #ff00ff;
}
h2.subtractive.b {
    color: #00ffff;
    transform: translate(-51.5%, -50%);
}
