:root {
    --max-margin: 96px;
    --main-max-width: 1024px;
    --main-margin: min(7.8947368421vw, var(--max-margin));
    --main-width: min(calc(100vw - 2 * var(--main-margin)), var(--main-max-width));
    --u: calc(1/64 * var(--main-width));
    --f: calc(10/7 * var(--u));
    --f-neg-margin: calc(-0.047 * var(--f));

    --bg-grid:  repeating-linear-gradient(
                    #fab4   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(3.95*var(--u)),
                    #fab4   calc(3.95*var(--u)) calc(4*var(--u))
                ),
                repeating-linear-gradient(
                    to right,
                    #fab4   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(3.95*var(--u)),
                    #fab4   calc(3.95*var(--u)) calc(4*var(--u))
                ),
                repeating-linear-gradient(
                    #fab2   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(0.95*var(--u)),
                    #fab2   calc(0.95*var(--u)) calc(1*var(--u))
                ),
                repeating-linear-gradient(
                    to right,
                    #fab2   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(0.95*var(--u)),
                    #fab2   calc(0.95*var(--u)) calc(1*var(--u))
                )
}

@font-face {
    font-family: 'Switzer Variable';
    src: url('fonts/Switzer-Variable.woff2') format('woff2'),
    url('fonts/Switzer-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Switzer Variable Italic';
    src: url('fonts/Switzer-VariableItalic.woff2') format('woff2'),
    url('fonts/Switzer-VariableItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

html {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;  /* Firefox */
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    min-height: 100vh;
    height: auto;
    margin: 0;
    text-align: center;
    background-color: #000000;
    color: #d1956b;
    font-family: "Host Grotesk", sans-serif;
    padding: 0;
    overflow-y: visible;
}

svg {
    isolation: isolate;
}

h1, h2, h3 {
    margin: 0;
}

p {
    text-align: justify;
    margin: 0;
    font-size: 20px;
    font-family: "Plus Jakarta Sans";
}

#hero {
    margin: 0 auto 0 auto;
    padding: var(--main-margin) 0;
    width: var(--main-width);

    overflow-y: visible;
    overflow-x: hidden;

    /*border: mediumspringgreen 1px solid;*/
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.main {
    max-width: var(--main-max-width);

    margin: 0 var(--main-margin);

    overflow: visible;

    display: flex;
    flex-direction: column;

    /*border: mediumspringgreen 1px solid;*/
}


.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 63%;
    overflow: visible;


}

.h1 {
    font-size: calc(8 * var(--f));
    font-weight: 800;

    margin: 0 calc(8 * var(--f-neg-margin));

    text-align: left;
    line-height: 0.7;

    overflow: visible;
    white-space: nowrap;
    user-select: none;
    /*transition: color 1500ms cubic-bezier(.4, 0, .1, 1);*/

}

h3 {
    font-size: calc(2 * var(--f));

    margin: 0 calc(2 * var(--f-neg-margin));

    text-align: left;
    line-height: 0.7;

    overflow: visible;
    white-space: nowrap;
}

.paragraph {
    text-align: justify;
    margin-left: calc(-0.023 * var(--u));
    font-size: 24px;
}

.slide-in {
    transition: transform 4000ms cubic-bezier(.2,.55,0,1);
}

#hero-f-name-1 { transform: translateX(150vw); }
#hero-s-name-1 { transform: translateX(180vw); }
#hero-f-name-2 { transform: translateX(160vw); }
#hero-s-name-2 { transform: translateX(170vw); }

.image-container {
    flex-shrink: 0;

    width: calc(14 * var(--u));
    height: calc(14 * var(--u));

    transition: opacity 2000ms cubic-bezier(.45,.46,.37,1);
}

img {
    width: 100%;
    height: 100%;
}

#hero-row-1 {
    justify-content: flex-start;
    gap: calc(6 * var(--u));

}

#hero-row-2 {
    gap: calc(6 * var(--u));
    transform: translateX(calc(-42.46*var(--u)));

}


.about {
    gap: calc(2*var(--u));
    display: grid;
    /* The first column (carousel) fits its aspect ratio, the second (text) takes the rest */
    grid-template-columns: auto 1fr;
    width: 100%;
}

.carousel {
    box-sizing: border-box;
    height: 100%;
    width: calc(8*var(--u));
    flex: 0 0 auto;
    flex-direction: column;
    background-color: #d1956b;
    color: black;

    font-size: calc(6*var(--f));
    overflow: hidden;
}

@keyframes scroll {
    0% { transform: translateY(-200%) rotate(-90deg); }
    100% { transform: translateY(1000%) rotate(-90deg); }
}

.carousel-text {

    width: 100%;

    font-weight: 800;
    white-space: nowrap; /* Prevents text from trying to wrap horizontally */

    line-height: 0.7;
    display: inline-block;

    transform: rotate(-90deg);
    user-select: none;
    animation: scroll 4s linear infinite;
}

.text.column {
    flex: 1;
    min-width: 0;
    gap: 12px;
}

#fourth {
    width: 100%;
    justify-content: center;
    background-color: #000;
    color: #000;
    margin: var(--main-margin) 0;
    padding-top: calc(2 * var(--u));
    padding-bottom: calc(2 * var(--u));
    gap: calc(3 * var(--u));
}

#fifth {
    width: 100%;
}

#image {
    opacity: 0;
    transition: opacity 1000ms cubic-bezier(.65,0,.35,1);
}

.footer {
    margin-top: calc(6 * var(--u));
    background-color: #d1956b;
    color: black;
    /*background: var(--bg-grid);*/
    height: calc(12 * var(--u));
    box-sizing: border-box;
    padding: calc(2 * var(--u));
    justify-content: space-around;
    gap: calc(2 * var(--u));
}

.footer-info {
    flex: 1 1 0;
    gap: calc(1 * var(--u));
    margin: 0;
}

.footer-text {
    font-size: calc(sqrt(0.5) * var(--f));
    text-align: justify;
}

div.subtractive {
    position: relative;
    width: 100%;
    height: calc(12 * var(--u));
    filter: invert(100%) hue-rotate(-24deg);
}

h2.subtractive {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(12 * var(--f));
    mix-blend-mode: multiply;
    filter: url(#directional-blur);
}

h2.subtractive.r {
    color: #ffff00;
    transform: translate(-48.5%, -50%);
}
h2.subtractive.g {
    color: #ff00ff;
}
h2.subtractive.b {
    color: #00ffff;
    transform: translate(-51.5%, -50%);
}
